<div id="episodes">
    <%
    page_articles.each_with_index do |article, i|
        file_size = Filesize.from("#{article.metadata[:page]['length']} B").to_s("Mb")
        i18n_date = I18n.localize(article.date, :format => "%e %B %Y, %A, saat %H:%M")
        time_data = article.date.strftime('%Y-%m-%d %H:%M:%S')
    %>
    <div class="episode">
        <h3>
            <%= link_to article.title, article, :target => "_self", :title => "Bölüm notları ve detaylar için tıklayın" %>
            <small><time datetime="<%= time_data %>"><%= i18n_date %></time></small>
        </h3>
        <p>
            <strong><%= file_size %></strong> / <%= article.metadata[:page]["duration"] %> dakika [ <a title="İndir" href="<%= article.metadata[:page]['download'] %>">İndir</a> ]
        </p>
        
        <div class="lead"><%= article.summary %></div>
                
        <p class="tags">
            <%= article.metadata[:page]["tags"].split(",").map{ |t| "<a href='#{tag_path(t)}' class='badge'>#{t}</a>" }.join("") %>
        </p>
        <%= partial "partials/share", :locals => {:article => article} %>
    </div>
    <% end %>
    
    <%= custom_pager :paginate => paginate,
                     :num_pages => num_pages,
                     :current_page => page_number,
                     :prev_page => prev_page,
                     :next_page => next_page,
                     :url_home => "/",
                     :url_schema => "/sayfa/%d/"
    %>
</div>
